{:paths ["src" "test"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  net.mikera/core.matrix {:mvn/version "0.62.0"}
  clj-python/libpython-clj {:mvn/version "2.00-alpha-5"}}
 :aliases
 {:core-matrix
  {:override-deps
   {net.mikera/core.matrix
    {:git/url "https://github.com/BrianChevalier/core.matrix"
     :sha "472ac44d2a59fbe2daf6ae5d80b97b3f6202d465"}}}
  :local-deps
  {:override-deps
   {net.mikera/core.matrix
    {:local/root "../core.matrix"
     :deps/manifest :deps}}}
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.23.0"}
    nrepl/nrepl {:mvn/version "0.8.2"}
    djblue/portal {:mvn/version "0.6.2"}}}}}